body{
    background-repeat: repeat-y;
    background-position: center;
    background-size:100%;
    min-height: 30% !important;
    background-color: #26330E;
    background-image:url("../image/paper-menu.gif")
}

img{
    background-image: url("../image/bookstore.gif");
    background-position: center;
    height: 700px;
    width: 1300px;
    
}

.topnav ul li{
    color: #FFEACC;
    font-size: 30px;
    list-style-type: none;
    font-family:madelinette, sans-serif;
    float: right;
    text-decoration: none;
}    

.topnav ul li a{
    color: #faebd7;
    text-decoration: none;
    position: relative;
    bottom: 670px;
    float: left;
    right: 280px;
    margin: 10px;

}


.topnav a:link{
    color:#FFEACC;
}

.topnav a:hover{
    color:#4F0B09;
}

.topnav a:link{
    text-decoration: none;
}

video.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
   }

.three{
    font-family: boucherie-cursive, sans-serif;
    color: #4F0B09;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    position: relative;
    float: left;
    left: 40px;
    margin-top: -20px;
}

.five{
    font-family:madelinette, sans-serif;
    color: #4F0B09;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    position: relative;
    float: left;
    left: 300px;
    margin-top: -800px;
}

.five a{
    color: #26330E;
    text-decoration: none;
}

.five a:link{
    color: #26330E;
    text-decoration: none !important;
}    
.five a:hover{
    color:#4F0B09;
}

.five a:visited{
    text-decoration: none !important;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .phone {
      position: absolute;
      color: #FFEACC;
      font-size: 40px;
      list-style-type: none;
      font-family:madelinette, sans-serif;
      float: left;
      text-decoration: none;
      top: 50%;
      right: 40%;
    }
    
    .email {
      position: absolute;
      color: #FFEACC;
      font-size: 40px;
      list-style-type: none;
      font-family:madelinette, sans-serif;
      float: left;
      text-decoration: none;
      top: 65%;
      right: 30%;
  
    }
    
    .subscribe {
      position: absolute;
      color: #FFEACC;
      font-size: 40px;
      list-style-type: none;
      font-family:madelinette, sans-serif;
      float: left;
      text-decoration: none;
      top: 85%;
      right: 40%;
    }
    .subscribe a{
      color: #faebd7;
      text-decoration: none;
  }
  
  .subscribe a:link{
      color:#FFEACC;
      text-decoration: none !important;
  }    
  .subscribe a:hover{
      color:#4F0B09;
  }
  
  .subscribe a:visited{
      text-decoration: none !important;
  }
    
    .contact{
      position: absolute;
      color:#FFEACC;
      font-size: 200px;
      font-family: boucherie-cursive, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 170px;
      float: left;
      top: 15%;
      right: 25%;
    }
    
    .centered {
      position: relative;
      top: 1000px;
      left: 50%;
      transform: translate(-50%, -50%);
    }


