body{
    background-repeat: repeat-y;
    background-position: center;
    background-size:100%;
    min-height: 30% !important;
    background-color: #26330E;
    background-image:url("../image/paper-menu.gif")
}

img{
     background-repeat: no-repeat;
     background-position: center;
     background-size:100%;
     height: 650px;
     width: 1260px;
     position: relative;
     background-image: url("../image/event-header.gif");
 } 

 .topnav ul li{
    color: #FFEACC;
    font-size: 30px;
    list-style-type: none;
    font-family:madelinette, sans-serif;
    float: right;
    text-decoration: none;
}    

.topnav ul li a{
    color: #faebd7;
    text-decoration: none;
    position: relative;
    bottom: 570px;
    right: 200px;
    margin: 15px;

}


.topnav a:link{
    color:#FFEACC;
}

.topnav a:hover{
    color:#4F0B09;
}

.topnav a:link{
    text-decoration: none;
}

h1{
    font-family: boucherie-cursive, sans-serif;
    color: #4F0B09;
    font-weight: 400;
    font-style: normal;
    font-size: 200px;
    position: relative;
    float: left;
    left: 180px;
    margin-top: -250px;
}

h2{
    font-family: boucherie-cursive, sans-serif;
    color: #4F0B09; 
    font-weight: 400;
    font-style: normal;
    position: relative;
    font-size: 50px;
    right: 450px;
    top:70px;
}

.one{
    color: #26330E;
    font-size: 30px;
    font-family:madelinette, sans-serif;
    position: relative;
    float: left;
    left: 30px;
    bottom: 200px;
}

h3{
    font-family: boucherie-cursive, sans-serif;
    color: #4F0B09;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
    position: relative;
    float: left;
    left: 100px;
    margin-top: -250px;
}

.two{
    color: #26330E;
    font-size: 30px;
    font-family:madelinette, sans-serif;
    position: relative;
    float: left;
    left: 15px;
    bottom: 200px;
}

.idea {
    float: left;
    position: relative;
    color: #FFEACC;
    font-size: 40px;
    list-style-type: none;
    font-family:madelinette, sans-serif;
    text-decoration: none;
    bottom: 800px;
    left:400px;

  }
  .idea a{
    color: #26330E;
    text-decoration: none;
}

.idea a:link{
    color: #26330E;
    text-decoration: none !important;
}    
.idea a:hover{
    color:#4F0B09;
}

.idea a:visited{
    text-decoration: none !important;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    width: 1250px;
  }
  
  .phone {
      position: absolute;
      color: #FFEACC;
      font-size: 40px;
      list-style-type: none;
      font-family:madelinette, sans-serif;
      float: left;
      text-decoration: none;
      top: 70%;
      right: 40%;
    }
    
    .email {
      position: absolute;
      color: #FFEACC;
      font-size: 40px;
      list-style-type: none;
      font-family:madelinette, sans-serif;
      float: left;
      text-decoration: none;
      top: 80%;
      right: 30%;
  
    }
    
    .subscribe {
      position: absolute;
      color: #FFEACC;
      font-size: 40px;
      list-style-type: none;
      font-family:madelinette, sans-serif;
      float: left;
      text-decoration: none;
      top: 90%;
      right: 40%;
    }
    .subscribe a{
      color: #faebd7;
      text-decoration: none;
  }
  
  .subscribe a:link{
      color:#FFEACC;
      text-decoration: none !important;
  }    
  .subscribe a:hover{
      color:#4F0B09;
  }
  
  .subscribe a:visited{
      text-decoration: none !important;
  }
    
    .contact{
      position: absolute;
      color:#FFEACC;
      font-size: 200px;
      font-family: boucherie-cursive, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 170px;
      float: left;
      top: 50%;
      right: 25%;
    }
    
    .centered {
      position: relative;
      top: 1000px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
